<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        div div{
            width: 500px;
            border-bottom: 1px solid black;
            padding: 1em;
        }
        div div:last-of-type{
            border-bottom: none;
        }
        div.container{
            width:fit-content;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="container"></div>
<script>
    /**
     * TAP-версия загрузки JSON по HTTP
     * @param {RequestInfo} url Строка URL или объект Request
     * @param {RequestInit | undefined} init Объект с опциями к запросу
     * @returns {Promise<any>} Обещание вернуть JSON-объект
     */
    async function fetchJSONAsync(url, init) {
        let response = await fetch(url, init);
        if (response.ok) {
            let json = await response.json();
            return json;
        }
        else
            throw new Error(`${response.status}: ${response.statusText}`);
    }
    (async function main() {
        try {
            let url = "https://jsonplaceholder.typicode.com/albums";
            let albums = await fetchJSONAsync(url);
            for (let e of albums) {
                document.querySelector("div").insertAdjacentHTML("beforeend",
                    `<div>UserId : ${e.userId}<br>Id : ${e.id}<br>Title : ${e.title}</div>`);
            }
        } catch (error) {
            console.log("Ошибка AJAX.");
        }
    })();
</script>
</body>
</html>