<!DOCTYPE html>
<html lang="en-En">

<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    <link rel="icon" type="image/x-icon" href="/public/files/favicon.ico">

    <title>Курси Валют</title>
    <style>
        body {
            background-color: grey;
        }
        table {
            width: 100%;
            height: 100%;
            font-size: 350%;
            font-family: sans-serif;
            background:gray;
        }
        tr {
            text-align: center;
        }
        .pp {
            background:orange;
            width: 33%;
            border-radius: 15px;
        }
        .td3 {
            font-size: 34pt;
        }
    </style>
</head>

<body>

    <table id="tb1"></table>

    <script>
        const rows = 7;
        const p0 = [];
        const p1 = [];
        const pVl = [];

        class Kurses {
            constructor(id, np, tv, pp, vl, krs, dt, fl) {
                this.id = id;
                this.np = np;
                this.tv = tv;
                this.pp = pp;
                this.vl = vl;
                this.krs = krs;
                this.dt = dt;
                this.fl = fl;
            }
        }

        /**
         * TAP-версия загрузки JSON по HTTP
         * @param {RequestInfo} url Строка URL или объект Request
         * @returns {Promise<any>} Обещание вернуть JSON-объект
         */
        async function fetchJSONAsync(url) {
            let response = await fetch(url, {
                method: "GET",
                headers: [
                    ["Content-Type", "application/json"]
                ]
            });

            if (response.ok)
                return await response.json();
            else
                throw new Error(`${response.status}: ${response.statusText}`);
        }

        function isVlIdExist(id) {
            let res = -1;
            pVl.forEach((value, index) => { if(value.id === id) res = index; })
            return res;
        }

        (async function main() {
            try {

                //получить параметр np из URL - '.../krs.html?tv=0'
                const url = new URL(window.location.href);
                let tv = Number(url.searchParams.get("tv"));
                if (isNaN(tv) || tv === null) tv = 0;
                tv = Math.trunc(tv);

                const urlPriemProd = `http://VM-8x-01:8080/api/v1/publickrs/priemprod/${tv}`;
                let list = await fetchJSONAsync(urlPriemProd);

                list.forEach((value) => {
                    value = value.k
                    let index = isVlIdExist(value.vl.id);
                    let ppId = value.pp.id;
                    let vl = value.vl;
                    let empty = new Kurses('', '', '', '', '', '', '', '');

                    if(index >= 0)
                        if(ppId === 0)
                            p0[index] = value;
                        else
                            p1[index] = value;
                    else {
                        if(ppId === 0) {
                            pVl.push(vl);
                            p0.push(value);
                            p1.push(empty);
                        }
                        else {
                            pVl.push(vl);
                            p0.push(empty);
                            p1.push(value);
                        }
                    }
                });

                const tb1 = document.getElementById('tb1');
                tb1.insertAdjacentHTML('beforeend', `
                    <tr>
                        <td colspan=3>Підрозділ № ${tv}</td>
                    </tr>
                    <tr>
                        <td class="td3">Купівля</td>
                        <td class="td3"></td>
                        <td class="td3">Продаж</td>
                    </tr>
                `);

                for (let i = 0; (i < rows && i < pVl.length); i++) {
                    tb1.insertAdjacentHTML('beforeend', `
                    <tr>
                        <td class="pp">${p0[i].krs}</td> <td>${pVl[i].vl}</td>
                        <td class="pp">${p1[i].krs}</td>
                    </tr>
                    `);
                }
            } catch (error) {
                console.log('Ошибка запроса AJAX! ', error);
            }
        })();
    </script>
</body>

</html>