<HTML>
	<HEAD>
		<meta http-equiv="refresh" content="60">
	</HEAD>
	<BODY bgcolor="grey">
		<table valign="center" align="center" border="1" width="100%" height="100%"
		style="font-size: 350%; font-family: sans-serif; background:gray"
		>
			<tr align="center">                                            
				<td colspan=3>
					<P>КУРС ВАЛЮТ</P>
				</td>
  			</tr>
			<tr align="center">                                            
				<td colspan=3>
					<P style="font-size:40">по карточным операциям</P>
				</td>
  			</tr>
			<tr align="center">
				<td><P style="background:orange">26.95</P></td>		<td>USD</td>
				<td><P style="background:orange">27.10</p></td>     
  			</tr>                                                      
			<tr align="center">                        
				<td><P style="background:orange">31.70</P></td>		<td>EUR</td>
				<td><P style="background:orange">32.00</P></td>                                                   
  			</tr>                                                      
			<tr align="center">                                         
				<td><P style="background:orange">0.355</P></td>		<td>RUR</td>
				<td><P style="background:orange">0.365</P></td>                       
  			</tr>                                                      
                        <tr align="center">
                               	<td><P style="background:orange">24.00</P></td>		<td>CHF</td>
				<td><P style="background:orange">27.00</P></td>
  			</tr>                                                      
			<tr align="center">                                          
				<td><P style="background:orange">29.50</P></td>		<td>GBP</td>
				<td><P style="background:orange">32.00</P></td>
  			</tr>
			<tr align="center">                                         
				<td><P style="background:orange">6.50</P></td>		<td>PLN</td>
				<td><P style="background:orange">6.95</P></td>
  			</tr>                                                     
			<tr align="center">                                          
				<td><P style="background:orange">2.90</P></td>		<td>TRY</td>
				<td><P style="background:orange">4.00</P></td>
  			</tr>
		</table>
	</BODY>
</HTML>